.bg-amber{
    background-color: #E4D2AE;
}
.bg-amber-400{
    background-color: #8e4b10;
}

.text-amber{
    color: #8e4b10;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.recursos:hover{
    text-decoration: none;
}

.enlaceDescarga a:hover{
   background-color: #b07848;
}







